
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="5;url=/home">-->
    <link rel="stylesheet" type="text/css" href="/css/hand.css">
    <link rel="icon" type="image/x-icon" href="/image/1693219223961_new-removebg-preview.ico">
     
    <title>wait</title>
 
</head>
<body>
    <div class="contract">

        <img src="/image/1693219223961_new-removebg-preview.ico" alt="tbi" class="tbi">


    </div>

    <video class="handload" autoplay muted loop>
        <source src="/video/handzzz.mp4" type="video/mp4">
       
    </video>
    <div class="undoing">
        <img src="/image/knowoverlay3.png" alt="knowing" class="knowing">
    </div>

</body>

