<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <title>The Blue Ink</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="icon" type="image/x-icon" href="/1693219223961.ico">
    <script src="https://kit.fontawesome.com/beb82e6ecb.js" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</head>
<body >
<div class="container">
    <header class="head">
        <img src="/image/1693219223961_new-removebg-preview.ico" alt="mylog" id="img_1">
        <img src="/image/menu_sign.ico" alt="mylog" id="img_menu">
        <Button id="img_login"><img src="/image/Login_pic.ico" alt="mylog" id="img_login_pic"></Button>
        
        <ul>
            <li><select id="drop"><option disabled selected>Course</option></select></li>
            <li id="line_h"><a href="#" >About</a></li>
            <li id="line_h"><a href="#" >Lecture Videos</a></li>
            <li id="line_h"><a href="#" >Books</a></li>
        </ul>
       
    
    <div class="overlay">
        <div class="out_1">
            <div class="outlaw">
            <section id="block_1" class="null">
                <h3 id="exam" class="hatt">Engineering Exams</h3><h4 id="arrow" class="hatna">></h4>
</h3>       </section>
            <section id="block_1">
                <h3  id="exam">Medical Exams</h3><h4 id="arrow">></h4>
</h3>       </section>
            <section id="block_1">
                <h3  id="exam">Olympiad Exams</h3><h4 id="arrow">></h4>
</h3>        </section>
            <section id="block_1">
                <h3  id="exam" >Programming </h3><h4 id="arrow">></h4>
</h3>       </section>
            </div>
            <section class="out_2">
                <h3 id="appear_1" class="text_deco"></h3>
                <h3 id="appear_2"class="text_deco"></h3>
                <h3 id="appear_2"class="text_deco"></h3>
                <h3 id="appear_2"class="text_deco"></h3>


            </section>

            
        </div>
        

        
    </div>
   
 

    </header>
    
    <button id="butt">Login/Register</button>
    <div class="slider">
        <img class ="i1" src="/image/Designer (1).png" alt="img1">
    </div>
    <div class="area_1">

        <section class="text_1">
            <h1><span id="sp_1">Unveiling the Unseen:</span> <span id="sp_2"> Where New and Well-Studied Concepts Collide...</span> 
            <br><span id="sp_3">Unlock your potential by signing up with The Blue Ink and get valuable experience.</span>
            </h1>
        </section>
        <button  class="butt_1">Watch Lecture Now</button>
        <section class="image_area">
            <img class="img_3" src="/image/94998548_9881382-removebg-preview.png" alt="thinking_man">


        </section>

    </div>
    <div class="area_2">
        <section class="content_1">
            <span class="sp_4"><h2>Free Lectures</h2><img class="im_2" src="/image/OIP-removebg-preview (9).ico" alt="lecture"></span>
            <span class="sp_4"><h2>Pyqs and Created problems</h2><img class="im_2" src="/image/question.ico" alt="pyqs"></span>
            <span class="sp_4 sp_5"><h2>Pdfs of Books</h2><img class="im_2" src="/image/pdf-file.ico" alt="pdf"></span>
            
        </section>

    </div>
    <div class="checks">

    </div>

</div>
</body>
</html>