
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
.bulma-scope {
    all: initial; /* Reset everything within this scope */
    * {
      all: unset;
    }
  }
  
  .bulma-scope{
    all: revert; /* Revert to Bulma defaults */
  }
