.nav_bg{
    background-color: #7870c0;
 
}
.hoverz{
    transition: background-color 0.5s ease;
    border-radius:10px;
}
.hoverz:hover{
    
    background-color:   #5d4df27f ;
}

.hoverzz:hover{
    color: #000000;

}

.btn-outline-light:hover{
    background-color: #5d4df27f ;
}
.book_logo{
    transition:transform 0.4s ;

}
.book_logo:hover{
    transform: scale(1.2,1.2);
    text-shadow:#5d4df27f;

}
.card_shape_pers,.img_shape_pers{
    perspective: 1000px;

}

.card_shape{
    border-radius:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:white;
    
    transition:transform 0.5s ease-in-out;
    transform-style: preserve-3d;

}
.img_shape{
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));

    transition:transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}
.edu{
    background: url('/image/edu_red.png') center center;
 
  
   
}
.scroll_shape{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius:15px;
    background-color: white;
}
.card_shape_image{
    border-radius:15px;
    padding:1rem;

}
.card_shape:hover,.img_shape:hover{
    transform:translateZ(30px);

}

.carousel-control-prev{
    filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg);
}
.carousel-control-next{
    filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg);
    

}
.container_3{

    background-color: whitesmoke;
   /* background: linear-gradient(to right, #d3cce3d9, #e9e4f0);*/
    
    height:27em;
    padding-top:1rem;
}
.container_5{
    background-color: whitesmoke;
  /*  background: linear-gradient(to right, #d3cce3d9, #e9e4f0);*/
     
}
.sec_addr_prev{
    margin-left: 0.5rem; 
    margin-top:12rem;
    
}

.sec_addr_next{
    margin-right: 3rem;
    margin-top:12rem;


}
.sec_addr_next_2{
    margin-right: 3rem; margin-top:12rem;

}
.sec_addr_prev_2{
    margin-left: 0.5rem; margin-top:12rem;

}
.sec_addr_prev_3{
    margin-left: 0.5rem; margin-top:12rem;

    
}
.sec_addr_next_3{
    margin-right: 3rem; margin-top:12rem;

}
.row_Addr{
    width: 95.5rem;
    background-color: red;
    

}
.cour_Addr{
    width:30rem;
    background-color: #7870c0;
    

}
.star{
    cursor: pointer; color: #f39c12;
    margin-left: 8px;
    
}
.scrollz{
    height: 50rem;
    width: 55rem;
    margin-left: 0.8rem;
    padding: 2rem;

    
    


}
.search_bookz{
    height: 63%;
    width:80%;
   
    margin-top: 9rem;
    margin-left: 4rem;
   
        

}
.no_cardz{
    
    margin-top: 25rem;
    margin-left:17rem;
    color: #0000009a;
    

}



  footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    
  }
  footer a:hover {
    text-decoration: underline;
  }
.footz{
    
    background-color: #7870c0;
    height: 10rem;
   
    margin-left: -3rem;
    
  

}
.willi{
    padding-right: 0rem;

}
.footz_img{
    height:5rem;
    width: 6rem;

}

@media only screen and (max-width: 1200px) {
    .scrollz{
    height: 35rem;
    width: 59rem;
    margin-left: 2.9rem;
    margin-right:1.2rem;
    }
    .no_cardz{
        margin-top:20rem;
        margin-left:21rem;
        font-size: 1rem;
        
    
    }
    
    
   
    
}
@media only screen and (max-width: 992px) {
    .res_1{
        text-align: center;
    }
    .res_2{
        margin-right:6rem;

    }
    .scrollz{
        height: 30rem;
        width:52rem;
        margin-left: 2.2rem;
        margin-right: 0.8rem;
        margin-top:3rem;

   
   }
   .no_cardz{
    margin-top: 14rem;
    margin-left:14rem;
    font-size: 0.9rem;
    

}
   
}

@media only screen and (max-width: 880px) {
    
    .scrollz{
        height: 30rem;
        width:45rem;
        margin-left: 2.2rem;
        margin-right: 0.8rem;
        margin-top:3rem;

   
   }

   
}
@media only screen and (max-width: 788px){
    .scrollz{
        height: 20em;
        width:40rem;
        margin-left: 1.6rem;
        margin-right: 0.8rem;

           
   }

   .search_bookz{

    height: 80%;
    margin-top: 2rem;
    margin-left: 2rem;
   
        
}
.no_cardz{
    margin-top: 10rem;
    margin-left:12rem;
    font-size: 0.8rem;
    

}}
@media only screen and (max-width: 688px){
    .scrollz{
        height: 20em;
        width:34rem;
        margin-left: 1.6rem;
        margin-right: 0.8rem;

           
   }

    }

    @media only screen and (max-width: 578px){
        .scrollz{
            height: 20em;
            width:28rem;
            margin-left: 0.5rem;
            margin-right: 1.2rem;
            

       
       }
       .search_bookz{

        height: 80%;
        margin-top: 2rem;
        margin-left: 2rem;
       
            
    }
    .no_cardz{
        margin-top: 10rem;
        margin-left:10rem;
        font-size: 0.7rem;
        
    
    }
    
        }
    @media only screen and (max-width: 467px){
            .scrollz{
                height: 24em;
                width:21rem;
                margin-left:0.6rem;                
           
           }
           .search_bookz{

            height: 80%;
            margin-top: 2rem;
            margin-left: 2rem;
           
                
        }
        .no_cardz{
            margin-top: 10rem;
            margin-left:5rem;
            font-size: 0.6rem;
            
        
        }
        .res_search{
            
            width: 8rem;
            margin-left: -5rem;
        
           
        }
        .tinker{
            margin-left: -1rem;

        }
        input::placeholder{
            font-size: 0.8rem;
        }
        
            }
        
